* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #FEF8F5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/font/Rubik-Light.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/font/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/font/Rubik-Bold.ttf);
}
h1 {
  font-family: "DM Serif Display";
  font-size: 100px;
  line-height: 100px;
  font-weight: 400;
  color: #402B2B;
  color: #fff;
}

h2 {
  font-family: "DM Serif Display";
  font-size: 48px;
  line-height: 63px;
  font-weight: 400;
  color: #402B2B;
}

p {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #402B2B;
}

.p_nav {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #402B2B;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
}
.p_nav_testi {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #402B2B;
}
.p_nav_foot {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #402B2B;
  color: #fff;
}
.p_nav_head {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #402B2B;
  color: #EE4D47;
}

.logo__footer {
  width: 17rem;
}

.btn {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #402B2B;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 2.4rem;
  background-color: #EE4D47;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.s__media {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #ED4D47;
  border: none;
  border-radius: 1.8rem;
  fill: #fff;
}
.s__media svg {
  margin: 9px 9px;
}

.arrow {
  display: inline-block;
  text-align: center;
  font-size: 2.9rem;
  color: #ED4D47;
}

.bar {
  width: 1rem;
  height: 16rem;
  background-color: #EE4D47;
  border: 1px solid #000;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.header {
  max-width: 100%;
  position: relative;
}
.header__bg {
  max-width: 100%;
  width: 133.5rem;
  background-image: url(/img/Scene.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__wrapper {
  margin-left: 20rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5rem 0 9rem 0;
}
.header__nav__logo {
  max-width: 21.2rem;
  margin-right: 29rem;
  cursor: pointer;
}
.header__nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  transform: translateX(4rem);
}
.header__nav__list__items {
  cursor: pointer;
}
.header__nav__menu {
  display: none;
}
.header__header {
  max-width: 74rem;
  margin-bottom: 9rem;
}
.header__mobil {
  position: absolute;
  max-width: 100%;
  left: -0.19%;
  top: 80%;
}
.header__btn {
  margin-bottom: 34rem;
}

@media screen and (max-width: 1400px) {
  .header__nav__list {
    transform: translateX(0);
  }
}
@media screen and (max-width: 1380px) {
  .header__wrapper {
    margin: 0 5rem;
  }
}
@media screen and (max-width: 1000px) {
  .header__nav {
    justify-content: space-between;
  }
  .header__nav__list {
    display: none;
  }
  .header__nav__menu {
    display: inline-block;
  }
  .header__nav__logo {
    margin-right: 0;
  }
}
@media screen and (max-width: 745px) {
  .header__header {
    font-size: 9rem;
    line-height: 9rem;
  }
}
@media screen and (max-width: 681px) {
  .header__header {
    font-size: 8rem;
    line-height: 8rem;
  }
}
@media screen and (max-width: 615px) {
  .header__header {
    font-size: 7rem;
    line-height: 7rem;
  }
}
@media screen and (max-width: 550px) {
  .header__header {
    font-size: 6rem;
    line-height: 7rem;
  }
}
@media screen and (max-width: 485px) {
  .header__nav {
    padding: 5rem 0 5rem 0;
  }
  .header__header {
    font-size: 5rem;
    line-height: 6rem;
  }

  .btn {
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 700;
    color: #402B2B;
    padding: 1.6rem 2rem;
    color: #fff;
  }
}
@media screen and (max-width: 423px) {
  .header__wrapper {
    margin: 0 3rem;
  }
  .header__nav {
    padding: 5rem 0 5rem 0;
  }
  .header__header {
    font-size: 4rem;
    line-height: 5rem;
  }

  .logo {
    width: 14rem;
  }
}
@media screen and (max-width: 356px) {
  .header__nav {
    padding: 3rem 0 5rem 0;
  }
  .header__header {
    font-size: 3, 5rem;
    line-height: 4.5rem;
  }

  .logo {
    width: 14rem;
  }
}

/*# sourceMappingURL=style.css.map */
