.header__mobil {
  animation: 4s linear 0s alternate truck_move;
}
@keyframes truck_move {
  from {
    margin-left: 0%;
  }
  to {
    margin-left: 120%;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #FEF8F5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@font-face {
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/DMSerifDisplay-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(/font/Rubik-Light.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/font/Rubik-Regular.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/font/Rubik-Medium.ttf);
}
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/font/Rubik-Bold.ttf);
}
h1 {
  font-family: "DM Serif Display";
  font-size: 100px;
  line-height: 100px;
  font-weight: 400;
  color: #402B2B;
  color: #fff;
}

h2 {
  font-family: "DM Serif Display";
  font-size: 48px;
  line-height: 63px;
  font-weight: 400;
  color: #402B2B;
}

h3 {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #402B2B;
  letter-spacing: 1.1;
  color: #EE4D47;
  text-transform: uppercase;
}

p {
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #402B2B;
}
p--form {
  font-size: 16px;
  line-height: 40px;
  font-weight: 300;
  color: #402B2B;
}
p--footer {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #402B2B;
}

.p_bold {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  color: #402B2B;
}

.p_form {
  font-size: 16px;
  line-height: 19px;
  font-weight: 400;
  color: #402B2B;
  color: #fff;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.p_nav {
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
  color: #402B2B;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 0.05em;
}
.p_nav_testi {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  color: #402B2B;
}
.p_nav_foot {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;
  color: #402B2B;
  color: #fff;
}
.p_nav_head {
  font-size: 24px;
  line-height: 40px;
  font-weight: 700;
  color: #402B2B;
  color: #EE4D47;
}

.logo__footer {
  width: 17rem;
}

.btn {
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-weight: 700;
  color: #402B2B;
  text-align: center;
  text-transform: uppercase;
  padding: 2rem 2.4rem;
  background-color: #EE4D47;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  letter-spacing: 0.05em;
  cursor: pointer;
}

.s__media {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #ED4D47;
  border: none;
  border-radius: 1.8rem;
  fill: #fff;
}
.s__media svg {
  margin: 9px 9px;
}

.arrow {
  display: inline-block;
  text-align: center;
  font-size: 2.9rem;
  color: #ED4D47;
}

.bar {
  display: inline-block;
  width: 1rem;
  height: 16rem;
  background-color: #EE4D47;
  border: 1px solid #000;
  border-top-left-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
}

.input, .input::placeholder {
  width: 40rem;
  height: 6rem;
  padding: 4rem;
  border: #EE4D47 solid 0.1rem;
  border-radius: 0.5rem;
  outline: none;
  font-size: 18px;
  line-height: 40px;
  font-weight: 300;
  color: #402B2B;
}
.input:focus, .input::placeholder:focus {
  border-width: 0.2rem;
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  color: #402B2B;
  box-shadow: 0px 20px 40px rgba(238, 77, 71, 0.2);
}

.form__content:hover {
  cursor: pointer;
}

.header {
  max-width: 100%;
  position: relative;
}
.header__bg {
  position: relative;
  max-width: 128.5rem;
  max-height: 80rem;
  background-image: url(/img/Scene.webp);
  background-repeat: no-repeat;
  background-size: cover;
}
.header__wrapper {
  margin: 0 2rem;
}
.header__header {
  font-size: 3.5rem;
  line-height: 4.5rem;
  padding-bottom: 4rem;
}
.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0 1rem 0;
}
.header__nav__logo {
  cursor: pointer;
}
.header__nav__logo .logo {
  max-width: 12rem;
}
.header__nav__list {
  display: none;
}
.header__nav__menu {
  display: inline-block;
}
.header__mobil {
  position: absolute;
  max-width: 50%;
  max-height: 39.5rem;
  object-fit: cover;
  left: -4%;
  top: 110%;
}
.header .btn {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 700;
  color: #402B2B;
  padding: 1.2rem 1.6rem;
  color: #fff;
}

@media screen and (min-width: 365px) {
  .header__mobil {
    top: 110%;
  }
  .header__wrapper {
    margin: 0 3rem;
  }
  .header__nav {
    padding: 2rem 0 2rem 0;
  }
  .header__header {
    font-size: 4rem;
    line-height: 5rem;
  }
  .header .logo {
    max-width: 14rem;
  }
}
@media screen and (min-width: 400px) {
  .header__mobil {
    top: 113%;
  }
  .header__header {
    font-size: 4.5rem;
    line-height: 5.5rem;
  }

  .logo {
    max-width: 16rem;
  }
}
@media screen and (min-width: 420px) {
  .header__header {
    max-width: 35rem;
  }
  .header__nav {
    padding: 3rem 0 3rem 0;
  }
  .header__nav .logo {
    max-width: 17rem;
  }
  .header__menu {
    display: none;
  }
}
@media screen and (min-width: 460px) {
  .header__wrapper {
    margin: 0 3rem 0 3rem;
  }
  .header__header {
    font-size: 5rem;
    line-height: 6rem;
  }
  .header__nav .logo {
    max-width: 18rem;
  }
}
@media screen and (min-width: 500px) {
  .header__wrapper {
    margin: 0 4rem 0 4rem;
  }
  .header__header {
    padding-bottom: 5rem;
  }
  .header__nav {
    padding: 3rem 0 3rem 0;
  }
  .header .btn-get {
    font-size: 1.4rem;
    line-height: 1.7rem;
    font-weight: 700;
    color: #402B2B;
    padding: 1.8rem 2.2rem;
    color: #fff;
    margin-bottom: 2rem;
  }
}
@media screen and (min-width: 550px) {
  .header__mobil {
    top: 105%;
  }
  .header .btn-get {
    margin-bottom: 5rem;
  }
}
@media screen and (min-width: 600px) {
  .header__header {
    max-width: 45rem;
  }
  .header .btn-get {
    margin-bottom: 9rem;
  }
}
@media screen and (min-width: 660px) {
  .header__wrapper {
    margin: 0 6rem;
  }
  .header__header {
    font-size: 5.3rem;
    line-height: 6.3rem;
  }
  .header__nav {
    padding: 4rem 0 4rem 0;
  }
}
@media screen and (min-width: 720px) {
  .header__mobil {
    top: 100%;
  }
  .header__wrapper {
    margin: 0 7rem;
  }
  .header__nav {
    padding: 5rem 0 5rem 0;
  }
  .header__nav .logo {
    max-width: 20rem;
  }
  .header .btn {
    font-size: 1.6rem;
    line-height: 1.9rem;
    font-weight: 700;
    color: #402B2B;
    padding: 2rem 2.4rem;
    color: #fff;
  }
  .header .btn-get {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 760px) {
  .header__header {
    font-size: 6rem;
    line-height: 7rem;
  }
  .header__nav .logo {
    max-width: 21rem;
  }
}
@media screen and (min-width: 850px) {
  .header__wrapper {
    margin: 0 10rem;
  }
  .header__header {
    font-size: 7rem;
    line-height: 8rem;
  }
  .header__nav .logo {
    max-width: 21rem;
    margin-right: 9rem;
  }
  .header .btn-get {
    margin-bottom: 12rem;
  }
}
@media screen and (min-width: 900px) {
  .header__mobil {
    top: 90%;
  }
  .header__wrapper {
    margin: 0 10rem;
  }
  .header__header {
    max-width: 74rem;
    font-size: 8rem;
    line-height: 9rem;
  }
  .header .btn-get {
    margin-bottom: 14rem;
  }
}
@media screen and (min-width: 1000px) {
  .header__nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    transform: translateX(4rem);
  }
  .header__nav__list__items {
    cursor: pointer;
  }
  .header__nav__menu {
    display: none;
  }
  .header .btn-get {
    margin-bottom: 18rem;
  }
}
@media screen and (min-width: 1100px) {
  .header .btn-get {
    margin-bottom: 19rem;
  }
}
@media screen and (min-width: 1150px) {
  .header__wrapper {
    margin: 0 15rem;
  }
  .header__header {
    font-size: 9rem;
    line-height: 9rem;
  }
  .header .btn-get {
    margin-bottom: 23rem;
  }
}
@media screen and (min-width: 1200px) {
  .header__header {
    font-size: 10rem;
    line-height: 10rem;
  }
  .header .btn-get {
    margin-bottom: 25rem;
  }
}
@media screen and (min-width: 1300px) {
  .header__mobil {
    top: 84%;
  }
  .header__wrapper {
    margin: 0 20rem;
  }
}
.main .about {
  margin: 34rem auto 0 auto;
}
.main .about__description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main .about__description__boldtxt {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.main .about__description__boldtxt .p_bold {
  background-color: #FDEDE8;
  padding: 3rem, 5.5rem;
}

.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  max-width: 140rem;
  position: relative;
}
.footer__container .truck {
  position: relative;
  align-self: flex-start;
  margin-bottom: -4.2rem;
}
.footer__container .truck::before {
  content: "";
  background-image: url(../img/truckVB.png);
  background-repeat: no-repeat;
  width: 19.1rem;
  height: 9.5rem;
  position: absolute;
  z-index: -1;
  right: -6rem;
  bottom: 3rem;
}
.footer__container .truck::after {
  content: "";
  background-image: url(../img/truckVL.png);
  background-repeat: no-repeat;
  width: 12.8rem;
  height: 9.4rem;
  position: absolute;
  left: 0;
  bottom: 0.3rem;
}
.footer__container .form {
  width: 100%;
  background-color: #0F264C;
  border-top-right-radius: 8rem;
  z-index: -2;
}
.footer__container .form::before {
  content: "";
  background-image: url(../img/Vector.png);
  background-repeat: no-repeat;
  width: 103.3rem;
  height: 46.6rem;
  position: absolute;
  z-index: -1;
}
.footer__container .form__content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 17rem;
  max-width: 102.5rem;
}
.footer__container .form__aside {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  max-width: 38.6rem;
  margin-top: 11rem;
  margin-bottom: 8rem;
}
.footer__container .form__aside .p_nav_foot {
  max-width: 33rem;
}
.footer__container .form__aside .bar {
  margin-right: 4rem;
  border: 0px;
}
.footer__container .form__box {
  background-color: #fff;
  margin-top: -11rem;
  padding: 5.2rem 7.5rem;
  border-radius: 1rem;
}
.footer__container .form__input-wrap {
  margin-bottom: 3rem;
  max-width: 40rem;
}
.footer__container .form .btn-arrow {
  padding-left: 2.4rem;
}
.footer__container .form__footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  margin-bottom: 12rem;
  max-width: 102.4rem;
}
.footer__container .form__list {
  min-width: 36.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__container .social {
  width: 100%;
  padding: 5rem 0rem;
}
.footer__container .social__wrap {
  max-width: 102.4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.footer__container .social__img-wrap {
  min-width: 17rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
