.main {
  .about {
    padding-top: 20rem;

    &__description {
      @include flex(column, space-between, flex-start);

      &__text {
        margin: 1rem 0 3rem 0;
      }

      &__boldtxt {
        @include flex(row, space-between, center);
        background-color: $col-back-100;
      }

      &__img {
        max-width: 100%;
        margin-top: 2rem;
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .main {
    .about {
      padding-top: 24rem;

      &__description {

        &__text {
          margin: 2rem 0 3rem 0;
        }
      }
    }
  }
}

@media screen and (min-width: 450px) {
  .main {
    .about {
      padding-top: 26rem;
    }

    .bar {
      height: 14rem;
    }

    &__description {
      &__text {
        margin: 3rem 0 3rem 0;
      }

      &__img {
        margin-top: 4rem;
      }
    }
  }
}

@media screen and (min-width: 500px) {
  .main {
    .about {
      padding-top: 33rem;

      &__description {
        &__text {
          margin: 4rem 0 4rem 0;
        }
      }
    }
  }
}

@media screen and (min-width: 850px) {
  .main {
    .about {
      padding-top: 40rem;

      p {
        font-size: 1.8rem;
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .main {
    .about {
      @include flex(row, space-between, center);
    }
  }
}

@media screen and (min-width: 1300px) {
  .main {
    .about {
      max-width: 117rem;
    }
  }
}