.main {
  .FAQ__wrapper {
    width: 100%;
    position: relative;

    .FAQ {
      h2 {
        font-size: 2.7rem;
        line-height: 4rem;
      }

      .extension {
        background-color: $col-orange-extension;
        justify-content: center;
      }

      &__heading {
        &__heading {
          margin-top: 2rem;
        }

        &__img {
          max-width: 92%;
          margin-top: 4rem;
        }
      }

      &__questions {
        margin-top: 9rem;
        text-align: start;

        &__list {
          margin-right: 2rem;

          &-item {
            max-width: 55rem;
            margin-bottom: 2rem;
            border-radius: 10px;
            box-shadow: 0px 20px 40px $col-orange-back;
            background: $col-back-105;

            &__label {
              @include flex(row, space-between, center);
              height: 8rem;
              margin: 0 auto 2rem;
              padding: 1.5rem 1.5rem;
              background-color: $col-white;
              border-radius: 10px;
              box-shadow: 0px 20px 40px $col-orange-back;

              .plus {
                display: block;
              }

              .minus {
                display: none;
              }

              &.active {
                .plus {
                  display: none;
                }

                .minus {
                  display: block;
                }

                +.FAQ__questions__list-item__content {
                  display: block;
                }
              }
            }

            &__label:hover,
            .active {
              box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
            }

            &__content {
              display: none;
              transition: 0.5s;
              align-content: center;
              padding: 1.5rem 1.5rem;
              margin: 0 auto;
            }
          }
        }
      }
    }

    .FAQ__wrapper::after {
      display: inline-block;
      position: absolute;
      content: "";
      background-color: $col-back-100;
      width: 80%;
      height: 100%;
      border-top-left-radius: 11rem;
      z-index: -1;
      top: 0;
      right: 0;
      overflow: hidden;
    }
  }
}

@media screen and (min-width: 500px) {
  .main {
    .FAQ {
      h2 {
        font-size: 3rem;
        line-height: 4.7rem;
      }

      &__heading {
        &__form {
          max-width: 57rem;
        }

        &__img {
          max-width: 75%;
        }
      }

      &__questions {
        .p_bold {
          font-size: 1.8rem;
          line-height: 3.3rem;
        }

        &__list-item {
          max-width: 45rem;
          z-index: 1;
        }
      }
    }
  }
}


@media screen and (min-width: 850px) {
  .main {
    .FAQ {
      h2 {
        font-size: 3.5rem;
        line-height: 5rem;
      }

      &__questions {
        @include flex(row, center, start);
      }
    }
  }
}

@media screen and (min-width: 1100px) {
  .main {
    .FAQ {
      &__heading {
        @include flex(row, space-between, center);

        &__heading {
          margin-top: 4rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .main {
    .FAQ {
      h2 {
        font-size: 4.8rem;
        line-height: 6.7rem;
      }

      &__questions {
        &__list-item {
          max-width: 55rem;
          z-index: 1;
        }
      }
    }
  }
}

@media screen and (min-width: 1400px) {
  .main {
    .FAQ {
      max-width: 136rem;
    }
  }
}