.footer {
    &__container{
        @include flex(column, center, center);
        margin-right: 21rem;
    }
    .form {
        width: 100%;
        background-color: $col-back-900;
        border-top-right-radius: 8rem;

        &__content {
            @include flex(row, space-between, center);
            margin: auto;
            margin-bottom: 17rem;
            max-width: 102.5rem
        }
        &__aside {
            @include flex(row, center, center);
            max-width: 38.6rem;
            margin-top: 11rem;
            margin-bottom: 8rem;
            .p_nav_foot {
                max-width: 33rem;
            }
            .bar {
                margin-right: 4rem;
                border: 0px;
            }
        }
        &__box {
            background-color: $col-white;
            margin-top: -11rem;
            padding: 5.2rem 7.5rem;
            border-radius: 1rem;
        }
        &__input-wrap {
            margin-bottom: 3rem;
            max-width: 40rem;
        }
        .btn-arrow {
            padding-left: 2.4rem;
        }

        &__footer {
            @include flex(row, space-between, center);
            margin: auto;
            margin-bottom: 12rem;
            max-width: 102.4rem;
        }

        &__list {
            min-width: 36.8rem;
            @include flex(row, space-between, center);
        }
    }

    .social {
        padding: 5rem 0rem;
        &__wrap {
            min-width: 102.4rem;
            @include flex(row, space-between, center);
        }

        &__img-wrap {
            min-width: 17rem;
            @include flex(row, space-between, center);
        }
    }
}