.s__media {
  width: 3.6rem;
  height: 3.6rem;
  background-color: $col-prime-700;
  border: none;
  border-radius: 1.8rem;
  fill: $col-white;

  svg {
    margin: 9px 9px;
  }
}

.arrow {
  fill: $col-prime-700;
}