h1 {
  @include font(100px, 100px, 400, $font-secondary);
  color: $col-white;
}

h2 {
  @include font(48px, 63px, 400, $font-secondary);
}

h3 {
  @include font(24px, 40px, 700);
  letter-spacing: 1.1;
  color: $col-orange-800;
  text-transform: uppercase;
}

p {
  @include font(18px, 40px, 300);
  &--form {
    @include font(16px, 40px, 300);
  }
  &--footer {
    @include font(16px, 30px, 300);
  }
}

.p_bold {
  @include font(24px, 36px, 500);
}

.p_form {
  @include font(16px, 19px, 400);
  color: $col-white;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}


.p_nav {
  @include font(16px, 19px, 700);
  text-transform: uppercase;
  color: $col-white;
  letter-spacing: 0.05em;

  &_testi {
    @include font(16px, 30px, 300);
  }

  &_foot {
    @include font(20px, 30px, 400);
    color: $col-white;
  }

  &_head {
    @include font(24px, 40px, 700);
    color: $col-orange-800;
  }
}