h1 {
  @include font(100px, 100px, 400, $font-secondary);
  color: $col-white;
}

h2 {
  @include font(48px, 63px, 400, $font-secondary);
}

p {
  @include font(18px, 40px, 300);
}

.p_nav {
  @include font(16px, 19px, 700);
  color: $col-white
}

.p_testi {
  @include font(16px, 30px, 300);
}

.p_foot {
  @include font(20px, 30px, 400);
  color: $col-white;
}

.p_head {
  @include font(24px, 40px, 700);
  color: $col-prime-800;
}