$col-white:#fff;

$col-background:#FEF8F5;

$col-back-100:#FDEDE8;
$col-back-200:#FCDDD4;
$col-back-900:#0F264C;

$col-orange-700:#ED4D47;
$col-orange-800:#EE4D47;

$col-text:#402B2B;

$col-black:#000;

$font-primary:"Rubik";
$font-secondary:"DM Serif Display"